In [74]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

In [75]:
# Read csv file into pandas dataframe
transactions = pd.read_excel('one_transaction_at_a_time.xlsx')
transactions

,Day,Month,Year,Amount,Five Guys,In N Out,Chick-Fil-A,Little Caesars,Cafe Rio,Taco Bell,...,Rancheritos,Mesq Mex Grill,Flying Pie Pizzeria,Jimmy Johns,Pizza Hut,Rocky Mountain Power,QuestarGas,GrangerHunter,WVCC,Categories
0,3,9,2021,-28.5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,2

In [76]:
# Separate Label from transaction
X = transactions.drop('Categories', axis=1)
y = transactions['Categories']
X

,Day,Month,Year,Amount,Five Guys,In N Out,Chick-Fil-A,Little Caesars,Cafe Rio,Taco Bell,...,Sonic,Rancheritos,Mesq Mex Grill,Flying Pie Pizzeria,Jimmy Johns,Pizza Hut,Rocky Mountain Power,QuestarGas,GrangerHunter,WVCC
0,3,9,2021,-28.5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [77]:
# Scale the data
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X)
StandardScaler(copy=True, with_mean=True, with_std=True)
# Now apply the transformations to the data:
X = scaler.transform(X)

In [80]:
from my_nn import mlp

In [81]:
prediction = mlp.predict(X)
prediction

array([1])